						<div class="flex flex-row px-1 h-10 bg-bluey text-black rounded-lg items-center cursor-pointer"
							hx-get="/device/{{id}}/newModal"
							hx-target="body"
							hx-swap="beforeend">
							<span class="icon">&plus;</span>
							<span class="text-sm pr-2.5">New</span>
						</div>

