{{- if .Vars.online }}
					<span class="display-online bg-red-500 text-white px-2.5">Offline</span>
{{- else }}
					<span class="display-offline bg-red-500 text-white px-2.5">Offline</span>
{{- end }}
