			<header class="flex flex-row justify-between items-center p-4">
				<div class="flex items-center">
					<img class="w-10 h-10" src="/model/{{.Device.Model}}/images/icon.png">
					<span class="px-5 text-lg font-bold">{{.Device.Name}}</span>
				</div>
				<div class="flex items-center">
{{ template "button-offline.tmpl" . }}
				</div>
				<div class="flex items-center">
{{ template "button-locked.tmpl" . }}
{{ template "button-download.tmpl" . }}
{{ template "button-info.tmpl" . }}
				</div>
			</header>
