<div class="flex flex-row mx-4 my-8 max-w-lg text-sm"
	hx-boost="true">
	<div class="flex flex-col mt-4 items-end">
{{ range $i, $page := .pages }}
	{{ if eq $page.Name $.page }}
		<div class="panel flex flex-row items-end justify-end w-36 h-10 bg-text text-black
			border-solid border-2 rounded-2xl">
			<span class="mr-2.5 font-bold">{{$page.Label}}</span>
		</div>
	{{ else }}
		<a class="no-underline" href="/docs/{{$page.Name}}">
			<div class="panel flex flex-row items-end justify-end w-28 h-6 bg-text text-black
				border-solid border-2 rounded-xl">
				<span class="mr-2.5 font-bold text-sm">{{$page.Label}}</span>
			</div>
		</a>
	{{ end }}
{{ end }}
	</div>
	<div class="ml-10">
		<div hx-get="/html/{{.page}}.html"
			hx-trigger="load"
			hx-swap="outerHTML"
			hx-target="this">
		</div>
	</div>
</div>
