					<div class="model-{{.Device.Model}}" id="device-{{.Device.Id}}"
						hx-target="this"
						hx-swap="outerHTML">
{{- if .Device.Online}}
						<div class="border-online flex flex-col w-36 h-36 m-2.5 rounded-xl border border-solid overflow-hidden">
{{- else }}
						<div class="border-offline flex flex-col w-36 h-36 m-2.5 rounded-xl border border-solid overflow-hidden">
{{- end }}
							<div class="flex flex-col h-full items-center justify-center">
{{ if ne .Device.DeployParams ""}}
	{{- template "body-tile.tmpl" .}}
{{- else}}
	{{- template "device-tile-undefined.tmpl" .}}
{{- end}}
							</div>
{{- if .Device.Online}}
							<div class="bg-online flex flex-row h-10 items-center">
{{- else }}
							<div class="bg-offline flex flex-row h-10 items-center">
{{- end }}
								<img class="w-5 h-5 mx-3" src="/model/{{.Device.Model}}/images/tile-icon.png">
{{- if .Device.Online}}
								<span class="text-online text-sm font-bold">{{.Device.Name}}</span>
{{- else }}
								<span class="text-offline text-sm font-bold">{{.Device.Name}}</span>
{{- end }}
							</div>
						</div>
					</div>
