			<div class="panel h-52 items-center justify-center" id="full-nodef">
				<span>Click</span>
				<img class="icon px-2" src="/model/{{.Device.Model}}/images/download.png" hx-get="/device/{{.Device.Id}}/download">
				<span>to setup and download {{.Device.Name}}</span>
			</div>
