			<div class="panel h-52 items-center justify-center" id="full-nodef">
				<span>Click</span>
				<a class="icon" hx-get="model/{{.Device.Model}}/download">&#x1F4E5;</a>
				<span>to setup and download {{.Device.Name}}</span>
			</div>

