<div class="panel flex-col">

	<div class="flex flex-row mb-5 items-center cursor-pointer" hx-get="/device/{{.Device.Id}}/full">
		<img class="icon px-1" src="/model/{{.Device.Model}}/images/back-arrow.png">
		<span class="no-underline">Download</span>
	</div>

	<form>
		<div class="flex flex-col">
			<div class="flex flex-row mb-5">
				<label>
					Target:
					<select name="target" id="download-target">

						<!-- Populate target drop-down with
							supported device targets.
							Select the target if specified
							in DeployParams.
						-->
{{- range $key, $value := .Device.Targets }}
	{{- if eq $key $.Vars.target }}
						<option value="{{ $key }}" selected>{{ $value.FullName }}</option>
	{{- else }}
						<option value="{{ $key }}">{{ $value.FullName }}</option>
	{{- end }}
{{- end }}

					</select>
				</label>
			</div>

			<!-- Target-specific elements embedded here.  Will be
				updated if target drop-down selection changes.
				-->

			<div class="flex flex-col"
				hx-get="/device/{{.Device.Id}}/download-target"
				hx-trigger="load, change from:#download-target"
				hx-target="this"
				hx-swap="innerHTML"
				hx-vals='js:{target: document.getElementById(`download-target`).value}'>
			</div>

			<div class="flex flex-col mt-8">
				<div class="flex flex-row justify-end mt-8">
					<span class="hidden text-gray-700 mr-5" id="download-pacifier"></span>
					<img class="hidden" id="gopher" src="images/gopher-workout.gif" width=30px>
					<button class="btn" id="download-btn">Download</button>
				</div>
				<span class="pt-5" id="download-response"></span>
			</div>

		</div>
	</form>
</div>

<!-- Target-specific instructions embedded here.  Will be
	updated if target drop-down selection changes.
	-->

<div class="panel flex flex-col text-sm"
	hx-get="/device/{{.Device.Id}}/download-instructions"
	hx-trigger="load, change from:#download-target"
	hx-target="this"
	hx-swap="innerHTML"
	hx-vals='js:{target: document.getElementById(`download-target`).value}'>
</div>
