<div class="model-{{model}} {{classOffline}}" id="device-{{id}}"
	hx-target="this"
	hx-swap="outerHTML">

	<div class="flex flex-row ml-{{mult .Level 10}}">

		<div class="detail flex flex-col m-1 p-2
			{{bgColor}} {{textColor}}
			border-solid border-2 rounded-3xl">

			<div class="flex flex-row items-center justify-between">
				<span class="text-lg font-bold ml-2.5 w-full cursor-pointer"
					hx-get="/device/{{id}}/overview">{{name}}</span>
				<div class="flex flex-row">
{{ template "button-trashcan.tmpl" . }}
{{ template "button-settings.tmpl" . }}
{{ template "button-locked.tmpl" . }}
				</div>
			</div>

			<div class="m-2.5 rounded-xl overflow-hidden">
{{ template "body-detail.tmpl" .}}
			</div>
		</div>
	</div>
{{ .Device.RenderChildren .SessionId (add .Level 1) }}
</div>
