		<div class="model-{{model}}" id="device-{{id}}"
			hx-target="this"
			hx-swap="outerHTML">
{{ template "device-header.tmpl" .}}
{{- if ne deployParams ""}}
	{{- template "body-full.tmpl" .}}
{{- else}}
			<div class="panel h-52 items-center justify-center">
	{{- template "device-undefined.tmpl" .}}
			</div>
{{- end}}
		</div>
