		<div class="model-{{.Device.Model}}" id="device-{{.Device.Id}}"
			hx-target="this"
			hx-swap="outerHTML">
{{ template "device-header.tmpl" .}}
{{- if ne .Device.DeployParams ""}}
	{{- template "body-full.tmpl" .}}
{{- else}}
			<div class="panel h-52 items-center justify-center">
	{{- template "device-undefined.tmpl" .}}
			</div>
{{- end}}
		</div>
