<div class="model-{{.Device.Model}} {{classOffline}}" id="device-{{.Device.Id}}"
	hx-target="this"
	hx-swap="outerHTML">

	<div class="flex flex-row ml-{{mult .Level 10}}">

		<div class="overview flex flex-row m-1 p-2 justify-between
			{{bgColor}} {{textColor}}
			border-solid border-2 rounded-3xl cursor-pointer"
			hx-get="/device/{{.Device.Id}}/detail">

			<div class="flex flex-row flex-wrap items-center">
				<span class="text-lg font-bold ml-2.5 w-16">{{.Device.Name}}</span>
				<div class="rounded-xl overflow-hidden">
{{ template "body-overview.tmpl" .}}
				</div>
			</div>
		</div>
	</div>
</div>
