<div class="text-sm"
	hx-get="/device/{{id}}/sessions"
	hx-trigger="every 1s"
	hx-target="this"
	hx-swap="outerHTML">
{{ range $id, $session := .sessions }}
	<div class="bg-sunflower text-black m-1 p-2 rounded-3xl max-w-lg">
		<h3>Session ID: {{$id}}</h3>
		<p>Last Update: {{$session.Age}}</p>
		<h4>Last Views:</h4>
		<ul>
		{{range $deviceId, $view := $session.LastViews}}
			<li>{{$deviceId}}: {{$view.View}}, {{$view.Level}}</li>
		{{end}}
		</ul>
	</div>
{{ else }}
	<p>No active sessions</p>
{{ end }}
</div>
