				<div id="save-button-{{.Device.Id}}">
{{- if isDirty }}
					<img class="icon px-1" src="/model/{{.Device.Model}}/images/save.png"
						hx-get="/device/{{.Device.Id}}/save"
						hx-swap="none">
{{- end }}
				</div>
