<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{{.Device.Model}} - {{.Device.Name}}</title>

		<link rel="stylesheet" type="text/css" href="css/device.css">
		<link rel="stylesheet" type="text/css" href="/model/{{.Device.Model}}/css/{{.Device.Model}}.css">
		<script src="js/htmx.min.js"></script>
		<script src="js/htmx-ext-ws.js"></script>
	</head>

	<body class="online model-{{.Device.Model}}" hx-ext="ws" ws-connect="/wsx">

		<div class="device" id="device-{{.Device.Id}}" hx-target="this">
{{ template "device-full.tmpl" .}}
		</div>

	</body>
</html>
