<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" type="/image/png" sizes="32x32" href="/images/favicon-32x32.png">
		<link rel="icon" type="/image/png" sizes="16x16" href="/images/favicon-16x16.png">

		<title>{{model}} - {{name}}</title>

		<link rel="stylesheet" type="text/css" href="/css/device.css.gz">
		<script src="/js/htmx.min.js.gz"></script>
		<script src="/js/htmx-ext-ws.js.gz"></script>
		<script src="https://unpkg.com/maplibre-gl@^4.7.1/dist/maplibre-gl.js"></script>
		<link href="https://unpkg.com/maplibre-gl@^4.7.1/dist/maplibre-gl.css" rel="stylesheet" />
	</head >

	<body class="offline bg-black text m-4"
		hx-headers='{"session-id": "{{.sessionId}}"}'
		hx-put="/keep-alive"
		hx-trigger="every 30s"
		hx-swap="none"
		hx-ext="ws"
		ws-connect="/wsx?session-id={{.sessionId}}">
{{ template "device-header.tmpl" . }}
{{ render .sessionId "/device" "detail" 0 }}
{{ template "device-footer.tmpl" . }}
	</body>

	<script>
		<!-- TODO: I can't get hx-on:htmx:wsOpen to work, so using js :( -->
		document.addEventListener("htmx:wsOpen", function(event) {
			document.body.classList.remove("offline");
		});
		document.addEventListener("htmx:wsClose", function(event) {
			document.body.classList.add("offline");
		});
		document.addEventListener("htmx:wsError", function(event) {
			document.body.classList.add("offline");
		});
	</script>
</html>
