<div class="modal">
	<div class="modal-content">
		<h3>Create a New Device</h3>
		<br>
		<form hx-get="/device/{{.Device.Id}}/create" hx-target="#error" hx-swap="innerHTML">
			<input type="hidden" id="model" name="Model" value="">
{{- range $model, $ignore := .Vars.models }}
			<div class="flex flex-col cursor-pointer"
				hx-get="/selectModel"
				hx-target="#model"
				hx-swap="outerHTML"
				hx-vals='{"value": "{{$model}}"}'>
				<span>{{$model}}</span>
			</div>
{{- end }}
			<div class="flex flex-row">
				<label>Name:</label>
				<input type="text" name="Name" placeholder="Device Name">
			</div>
			<div class="flex flex-row justify-between items-center">
				<span class=text-red-500 id="error"></span>
				<div class="flex flex-row justify-end">
					<button class="btn" hx-put="/keepalive" hx-target=".modal" hx-swap="delete">Close</button>
					<button class="btn" type="submit">Create</button>
				</div>
			</div>
		</div>
	</div>
</div>
