<!DOCTYPE html>
<html>
<head>
    <title>Sessions</title>
    <meta http-equiv="refresh" content="2">
</head>
<body>
    <h1>Active Sessions</h1>
    {{range $id, $session := .}}
        <div>
            <h2>Session ID: {{$id}}</h2>
            <p>Last Update: {{$session.Age}}</p>
            <h3>Last Views:</h3>
            <ul>
                {{range $deviceId, $view := $session.LastView}}
			<li>Device ID: {{$deviceId}} - {{$view}}</li>
                {{end}}
            </ul>
        </div>
    {{else}}
        <p>No active sessions</p>
    {{end}}
</body>
</html>
