<div class="flex flex-col" id="bottles-{{id}}">
	<div class="flex flex-row w-full items-center justify-evenly">
		<span class="text-6xl mx-4">{{.State.Bottles}}</span>
		<div class="flex flex-col items-center">
			<span>Bottles of Beer on the Wall</span>
{{- if le .State.Restock 60 }}
			<span class="text-sm">[Restocking in {{.State.Restock}}s]</span>
{{- end }}
		</div>
	</div>
	<div class="flex flex-row justify-end">
		<button hx-post="/device/{{id}}/takeone"
			hx-swap="none">Take One</button>
	</div>
</div>
