<div class="flex flex-row w-full items-center justify-evenly" id="bottles-{{.Device.Id}}">
	<span class="text-3xl mx-3">{{.State.Bottles}}</span>
	<span>Bottles</span>
{{- if le .State.Restock 60 }}
	<span class="text-sm mx-4">[Restocking in {{.State.Restock}}s]</span>
{{- end }}
</div>
