			<div class="flex flex-col bg-white h-full rounded-t-2xl">
				<div class="flex flex-row justify-between items-center mx-6 my-5">
					<div class="flex flex-row items-center cursor-pointer"
					     hx-get="/device/{{.Device.Id}}/{{.Vars.prevView}}">
						<img class="icon px-1" src="/model/{{.Device.Model}}/images/back-arrow.png"></img>
						<span class="font-bold">Devices</span>
					</div>
					<img class="icon" src="/model/{{.Device.Model}}/images/trash-can.png"></img>
				</div>
				<div class="mx-8 rounded-2xl bg-gray-100">
{{ .Device.RenderChildHTML .Vars.sessionId .Vars.childId "full" }}
				</div>
			</div>
