			<div class="flex flex-col bg-white h-full rounded-t-2xl">
				<div class="flex flex-row justify-between items-center mx-6 my-5">
					<div class="flex flex-row align-center cursor-pointer"
						hx-get="/device/{{.Device.Id}}/full">
						<span class="icon">&#x2B05;</span>
						<span class="font-bold">Devices</span>
					</div>
					<span class="icon">&#x1F5D1;</span>
				</div>
				<div class="mx-8 rounded-2xl bg-gray-100">
{{ .Device.RenderChildHTML .Vars.sessionId .Vars.childId "full" }}
				</div>
			</div>
