						<div class="flex flex-row bg-gray-100 mx-3 px-1 h-10 rounded-lg shadow-lg items-center cursor-pointer"
							hx-get="/device/{{.Device.Id}}/newModal"
							hx-target="body"
							hx-swap="beforeend">
							<span class="icon">&plus;</span>
							<span class="text-sm pr-2.5">New</span>
						</div>

