<div class="mx-8 my-16">
	<hr class="border-dashed border-gray-400">
	<h3>Merliot Hub Demo</h3>
	<div class="m-8">
		<p class="italic">working demo especially good trick: force big brain make something to actually work to talk about and code to look at that do thing, will help big brain see reality on ground more quickly</p>
		<a class="no-underline" target="_blank" href="https://grugbrain.dev/"><p class="text-right">-- The Grug Brained Developer</p></a>
	</div>
	<div class="flex flex-row items-center justify-evenly">
		<a target="_blank" href="https://go.dev"><img src="/images/go-logo.png"></a>
		<span class="text-3xl">+</span>
		<a target="_blank" class="flex flex-col items-center no-underline" href="https://tinygo.org">
			<img src="/images/tinygo-logo.png">
			<span class="font-bold text-xl">TinyGo</span>
		</a>
		<span class="text-3xl">+</span>
		<a target="_blank" href="https://htmx.org"><img src="/images/htmx-logo.png"></a>
	</div>
	<h4>Introduction</h4>
	<p>This is a demo of Merliot Hub, a private device hub.  The devices are running in demo mode, so they're not accessing real hardware, just simulating hardware.  The hub runs locally or on the cloud.</p>
	<p>Install your <b>own</b> hub with <b>real</b> devices using the guides below.</p>
	<p>Merliot hub is built with Go, TinyGo, and htmx.</p>
	<h4>Quick Start Using Docker</h4>
	<pre class="text-sm bg-gray-100 p-4">docker pull merliot/hub
docker run -p 80:8000 merliot/hub</pre>
	<h4>Explore More...</h4>
	<ul>
		<li><a target="_blank" href="/docs/install">Install Guide</a></li>
		<li><a target="_blank" href="https://github.com/merliot/thing2">Source Code</a></li>
		<li><a target="_blank" href="/docs/create">Create a New Device Model</a></li>
		<li><a target="_blank" href="/docs/arch">Architecture</a></li>
	</ul>
</div>

