			<header class="flex flex-row justify-between items-center p-4">
				<div class="flex items-center">
					<img class="w-10 h-10" src="/model/{{.Device.Model}}/images/icon.png"></img>
					<span class="px-5 text-lg font-bold">{{.Device.Name}}</span>
				</div>
				<span class="rounded-2xl border-solid border-3 text-red-500 px-2.5 py-1" id="offline">Offline</span>
{{if .State.Demo}}
				<span class="demo-mode">Demo</span>
{{end}}
				<div class="flex items-center">
{{- if .Device.Locked}}
					<span class="icon cursor-not-allowed">&#x1F512;</span>
{{- end}}
					<div class="flex flex-row bg-slate-100 h-10 rounded-lg shadow-md items-center cursor-pointer">
						<span class="icon">&plus;</span>
						<span class="text-sm pr-2.5">New</span>
					</div>
				</div>
			</header>
