			<header class="flex flex-row justify-between items-center p-4">
				<div class="flex items-center">
					<img class="w-10 h-10" src="/model/{{.Device.Model}}/images/icon.png">
					<span class="px-5 text-lg font-bold">{{.Device.Name}}</span>
				</div>
				<div class="flex items-center">
{{- if .Vars.online }}
					<span class="display-online bg-red-500 text-white px-2.5">Offline</span>
{{- else }}
					<span class="display-offline bg-red-500 text-white px-2.5">Offline</span>
{{- end }}
				</div>
				<div class="flex items-center">
{{- if .Vars.locked }}
					<span class="icon cursor-not-allowed">&#x1F512;</span>
{{- end }}
{{- if .Vars.dirty }}
					<img class="icon px-1" src="/model/{{.Device.Model}}/images/save.png">
{{- end }}
{{ template "new-button.tmpl" . }}
				</div>
			</header>
			<hr>
