<div class="bg-black text-bluey">
	<div class="flex flex-row">
		<div class="flex flex-col m-4">
			<span>0 Devices Offline</span>
			<span>4 Devices Online</span>
		</div>
		<div class="flex flex-col m-4 justify-end">
{{ template "button-new.tmpl" . }}
		</div>
	</div>
</div>
