<div class="hidden" id="location-{{id}}">
	<script>
		var div = document.getElementById("map-{{id}}");
		div.sharedData.map.flyTo({center: [{{state.Long}}, {{state.Lat}}]});
		div.sharedData.marker.setLngLat([{{state.Long}}, {{state.Lat}}]);
	</script>
</div>
