			<div class="panel flex-row h-52 items-center justify-between">
{{- range $i, $relay := .State.Relays }}
				<div class="flex flex-col items-center"
				     hx-post="/device/{{$.Device.Id}}/click?Relay={{$i}}"
				     hx-swap="none">
					<img class="h-24" src="/model/{{$.Device.Model}}/images/relay-{{$relay.State}}.png">
					<span class="h-4 mb-5 px-2.5 text-sm bg-amber-500 text-white rounded">{{$relay.Gpio}}</span>
					<span>{{$relay.Name}}</span>
				</div>
{{- end }}
			</div>
