			<div class="panel flex-col h-52 items-center justify-between">
				<div class="flex flex-row w-full items-center justify-evenly">
					<span class="text-6xl">{{.Device.Bottles}}</span>
					<span>Bottles of Beer on the Wall</span>
				</div>
				<button class="btn"
					hx-post="/device/{{.Device.Id}}/takeone"
					hx-swap="none">Take One</button>
			</div>
